@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #991a1d;
	--dark-color-b: #991a1c2c;
	--light-color: #fbd8d981;
}

* {
	margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: url('../../assets/background.png') no-repeat center;
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

span {
  font-size: 12px;
  color: rgb(139, 134, 134);
}

img{
  width: 280px;
	height: 180px;
	margin-left: 70px;
	margin-top: 50px;

}

input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	border: 0;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: #f5f5f5;
	border: 0;
	border-radius: 4px;
	font-size: 17px;
}











